body {
    background-image: url('https://media.istockphoto.com/id/1093917910/photo/different-floor-coating-materials-type-3d-illustration.jpg?s=612x612&w=0&k=20&c=nnwyomLedOX1WbcyAU9-2p_yRbEyJ-lU_4tAftus74c=');
    background-repeat: no-repeat;
    background-size: 500px 300px;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}